body {
    height: 100%;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}


.board {
	height: 100vmin;
    width: 100vmin;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    background-color: rgb(138, 138, 138);
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.casilla {
    display: inline-block;
    border-radius: 50%;

    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}